<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<!-- <h2 ng-if="isEditMode">Edit Content Type</h2> -->
			<!-- <h2 ng-if="!isEditMode">Create Content Type</h2> -->
			<h2>Create Content</h2>
		</div>
	</div>
</div>
<div class="row">
	<form role="form">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="name">Content Type</label>
					<select class="form-control" ng-model="content.contentType" 
							ng-options="contentType.name for contentType in contentTypeOptions"
							ng-change="setContentType(content.contentType._id)">
					</select>
				</div>
			</div>
		</div>
		<div class="row" ng-repeat="field in content.contentType.fields">
			<div class="col-sm-4" ng-if="field.type == 'Text'">
				<div class="form-group">
					<label for="name" ng-bind="field.name"></label>
					<input type="text" class="form-control" ng-model="field.value" ng-if="field.type == 'Text'">
				</div>
			</div>		
			<div class="col-sm-2" ng-if="field.type == 'Date'">
				<div class="form-group">
					<label for="name" ng-bind="field.name"></label>
					<input type="date" class="form-control" ng-model="field.value" ng-if="field.type == 'Date'">
				</div>
			</div>
			<div class="col-sm-4" ng-if="field.type == 'Choice'">
				<div class="form-group">
					<label for="name" ng-bind="field.name"></label>
					<select class="form-control" ng-model="field.value" ng-if="field.type == 'Choice'" ng-options="value.value for value in field.values">
					</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-8">
				<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
				<a class="btn btn-default" href="#content">Cancel</a>
			</div>
		</div>
	</form>
</div>