<div class="row">
	<div class="col-md-8">
		<h2>Create Content</h2>
		<form role="form">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" placeholder="Name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="author">Author</label>
						<input type="text" class="form-control" id="author" placeholder="Author">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
					<a class="btn btn-default" href="#content">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>