<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h2 ng-if="isEditMode">Edit Content Type</h2>
			<h2 ng-if="!isEditMode">Create Content Type</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<form role="form">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" placeholder="Name" ng-model="contentType.name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="fields">Fields</label>
						<table class="table table-striped table-hover">
							<tbody>
								<tr ng-repeat="field in contentType.fields">
									<td class="input-group">
										<input type="text" class="form-control" ng-model="field.name">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="removeField($index)"><span class="glyphicon glyphicon-trash"></span></button>
										</span>
								    </td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="btn btn-link" ng-click="addField()"><span class="glyphicon glyphicon-plus"></span> Add Field</a>
				</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-sm-8 text-right">
					<a class="btn btn-default" ng-href="#contentTypes">Cancel</a>
					<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>