<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h2 ng-if="isEditMode">Edit Field</h2>
			<h2 ng-if="!isEditMode">Create Field</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<form role="form">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" placeholder="Name" ng-model="field.name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="type">Type</label>
						<select ng-model="field.type" class="form-control" id="type">
							<option>Text</option>
							<option>Date</option>
							<option>Choice</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row" ng-if="field.type == 'Choice'">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="values">Values</label>
						<table class="table table-striped table-hover">
							<tbody>
								<tr ng-repeat="value in field.values">
									<td class="input-group">
										<input type="text" class="form-control" ng-model="value.value">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="removeValue($index)"><span class="glyphicon glyphicon-trash"></span></button>
										</span>
								    </td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="btn btn-link" ng-click="addValue()"><span class="glyphicon glyphicon-plus"></span> Add Value</a>
				</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-sm-8 text-right">
					<a class="btn btn-default" ng-href="#fields">Cancel</a>
					<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>