<div class="row">
	<div class="page-header">
		<h2 ng-bind="field.name"></h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 text-right">
		<a class="btn btn-warning" ng-href="#editField/{{field._id}}">Edit</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<p>
			<strong>Type: </strong><span ng-bind="field.type"></span>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div ng-if="field.type == 'Choice'">
			<p><strong>Values: </strong></p>
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr ng-repeat="value in field.values">
						<td ng-bind="value.value"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>			
<div class="row">
	<div class="col-sm-6 text-right">
		<button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
		<a class="btn btn-default" ng-href="#fields">Close</a>
	</div>
</div>