<div class="row">
	<div class="page-header">
		<h2 ng-bind="field.name"></h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 text-right">
		<a class="btn btn-warning" ng-href="#editField/{{field._id}}">Edit</a>
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Type</strong></div>
			<div class="panel-body">
		    	<span ng-bind="field.type"></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Values</strong></div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="value in field.values"><span ng-bind="value.value"></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
		
<div class="row">
	<div class="col-sm-6 text-right">
		<button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
		<a class="btn btn-default" ng-href="#fields">Close</a>
	</div>
</div>