<div class="row">
	<div class="page-header">
		<h2 ng-bind="contentType.name"></h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 text-right">
		<a class="btn btn-warning" ng-href="#editContentType/{{contentType._id}}">Edit</a>
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Fields</strong></div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="field in contentType.fields"><span ng-bind="field.name"></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 text-right">
		<button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
		<a class="btn btn-default" ng-href="#contentTypes">Close</a>
	</div>
</div>