<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create Content</h1>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" ng-model="content.title" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title">Content Type</label>
                <div class="row">
                    <div class="col-sm-4">
                        <select ng-model="content.contentType"
                                ng-options="contentType.name for contentType in contentTypes"
                                class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-repeat="field in content.contentType.fields">
                <label for="author" ng-bind="field.name"></label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" ng-if="field.type == 'Text'" ng-model="field.value" class="form-control" id="author">
                        <textarea ng-if="field.type == 'HTML'" ng-model="field.value" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <a class="btn btn-default" ui-sref="content">Cancel</a>
        </div>
    </div>
</div>
