<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 ng-bind="content.title"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right">
            <a class="btn btn-default" ui-sref="content" ng-if="!isEditMode">Close</a>
            <button class="btn btn-default" ng-click="cancelEdit()" ng-if="isEditMode">Cancel</button>
            <button type="button" class="btn btn-warning" ng-click="isEditMode = !isEditMode" ng-show="!isEditMode">Edit</button>
            <button type="button" class="btn btn-primary" ng-click="save()" ng-show="isEditMode">Save</button>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" ng-model="content.title" class="form-control" ng-disabled="!isEditMode">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="author">Content Type</label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" ng-model="content.contentType.name" class="form-control" ng-disabled="true">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-repeat="field in content.fields">
                <label for="author" ng-bind="field.name"></label>
                <div class="row">
                    <div class="col-sm-4" ng-if="field.type == 'Text'">
                        <input type="text" ng-model="field.value" class="form-control" ng-disabled="!isEditMode">
                    </div>
                    <div class="col-sm-6" ng-if="field.type === 'HTML'">
                        <textarea ckeditor ng-model="field.value" class="form-control" ckreadonly="!isEditMode"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-default" ui-sref="content" ng-if="!isEditMode">Close</a>
            <button class="btn btn-default" ng-click="cancelEdit()" ng-if="isEditMode">Cancel</button>
            <button type="button" class="btn btn-warning" ng-click="isEditMode = !isEditMode" ng-show="!isEditMode">Edit</button>
            <button type="button" class="btn btn-primary" ng-click="save()" ng-show="isEditMode">Save</button>
        </div>
    </div>
</div>

<div id="confirmDeleteModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Confirm Delete</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" ng-click="delete()">Delete</button>
    			<button class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
