<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create Field</h1>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="name">Name</label>
                    <input type="text" ng-model="field.name" class="form-control" id="name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="name">Type</label>
                    <select ng-model="field.type" class="form-control">
                        <option value="Text">Text</option>
                        <option value="HTML">HTML</option>
                        <option value="Dropdown">Dropdown</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" ng-if="field.type == 'Dropdown'">
                <div class="col-sm-4">
                    <label for="values">Values</label>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr ng-repeat="value in field.values">
                                <td class="input-group">
                                    <input type="text" class="form-control" ng-model="value.value">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="removeValue($index)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-link" ng-click="addValue()"><span class="glyphicon glyphicon-plus"></span> Add Value</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <a class="btn btn-default" ui-sref="fields">Cancel</a>
        </div>
    </div>
</div>
