<form>
	<p>
		<label for="name">Field Name</label>
		<input type="text" name="name" data-bind="value: name"/>
		<select name="type" data-bind="value: type">
			<option value="dropdown">Dropdown</option>
			<option value="hierarchical">Hierarchical</option>
			<option value="html">HTML</option>
			<option value="text">Text</option>
		</select>
	</p>
	<!-- ko if: type() == 'dropdown' -->
		<p>Values<br></p>
	<!-- /ko -->
	<p>
		<button class="btn btn-primary" data-bind="click: createField">Create Field</button>
		<a class="btn btn-danger" href="#fields">Cancel</a>
	</p>
</form>