<div>
	<h2>Fields</h2>
	<table class="table table-striped table-hover" data-bind="visible: fields().length > 0">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: fields">
			<tr>
				<td><a data-bind="attr: { href: '#fields/' + id }, text: name"></a></td>
				<td data-bind="text: type"></td>
			</tr>
		</tbody>
	</table>
	<p data-bind="visible: fields().length == 0">No fields exist.</p>
	<p>
		<a class="btn btn-primary" href="#createField">Create Field</a>
	</p>
</div>