<div class="container">
    <div class="row">
        <div class="col-sm-12" ng-if="!isCreateMode()">
            <h1 ng-bind="contentType.name"></h1>
        </div>
        <div class="col-sm-12" ng-if="isCreateMode()">
            <h1>Create Content Type</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right">
            <div ng-if="!isViewMode()">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
            <div ng-if="isViewMode()">
                <a class="btn btn-default" ui-sref="contentTypeListing">Close</a>
                <button type="button" class="btn btn-warning" ng-click="edit()">Edit</button>
            </div>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="name">Name</label>
                    <input type="text" ng-model="contentType.name" class="form-control" ng-disabled="isViewMode()">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Fields</label>
                </div>
                <div class="col-sm-4">
                    <label>Available Fields</label>
                </div>
            </div>
            <div class="row" ng-if="!isViewMode()">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul id="selectedFields" class="field-bags list-group" dragula='"fields-bag"' dragula-model="contentType.fields">
                                <li class="list-group-item draggable" ng-repeat="field in contentType.fields" ng-bind="field.name">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body" ng-class="{ 'empty': fieldOptions.length == 0 }">
                            <ul id="fieldOptions" class="field-bags list-group" dragula='"fields-bag"' dragula-model="fieldOptions">
                                <li class="list-group-item draggable" ng-repeat="field in fieldOptions | duplicate: contentType.fields" ng-bind="field.name">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="isViewMode()">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="field in contentType.fields" ng-bind="field.name">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body" ng-class="{ 'empty': fieldOptions.length == 0 }">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="field in fieldOptions | duplicate: contentType.fields" ng-bind="field.name">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-2">
                <div ng-if="!isCreateMode()">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
                </div>
            </div>
            <div class="col-sm-4 text-right">
                <div ng-if="!isViewMode()">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                </div>
                <div ng-if="isViewMode()">
                    <a class="btn btn-default" ui-sref="contentTypeListing">Close</a>
                    <button type="button" class="btn btn-warning" ng-click="edit()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmDeleteModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Confirm Delete</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" ng-click="delete()">Delete</button>
    			<button class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
